body{
    position: relative;
    width: 1200px;
    height: 2336px;
    background: #FFFFFF;
    /*
    provided -> 
    Top : -4569px
    Left: -2262px
    */
}

.block1{

    position: absolute;
    width: 1200px;
    height: 822px;
    margin-left: 116px;
    margin-top: 22px;
    background-image: url("../assets/back1.png");

}

.block1_2{
    position: absolute;
    width: 426px;
    height: 292px;
    margin-left: 387px;
    margin-top: 252px;    
}

h1{
    position: absolute;
    width: 386px;
    height: 118px;
    padding-left: 20px;
    padding-top: 76px;
    padding-right: 20;
    padding-bottom: 98px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    text-align: center;
    
    color: #FFFFFF;
}


.logo1{

position: absolute;
width: 63px;
height: 63px;
padding-left:182px;
padding-right: 181px;;
padding-top:0px;
padding-bottom:229px;

}

.h3_1{
    position: absolute;
    width: 426px;
    height: 56px;
    padding-top:236px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    text-align: center;
    
    color: rgba(255, 255, 255, 0.7);
}

.block2{
    position: absolute;
    width: 1200px;
    height: 700px;
    margin-left:116px;
    margin-top: 822px;
    background: #EEEEEE;
}

.h2_1{
    position: absolute;
    width: 669px;
    height: 119px;
    padding-left: 265px;
    padding-top: 87px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    text-align: center;
    
    color: #464547;

}

.h3_2{
    position: absolute;
    width: 426px;
    height: 57px;
    padding-left: 387px;
    padding-top: 246px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    text-align: center;
    
    color: #666666;
    
}

.longText{
    position: absolute;
    width: 983px;
    height: 194px;
    padding-left: 97px;
    padding-top:351px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    text-align: center;
    
    color: #000000;
}


.readButton{
    position: absolute;
    width: 115px;
    height: 36px;
    left: 43%;
    top: 80%;
    background: #55C2D8;
    border-radius: 18px;
}
    
.readButton .span{
    height: 25px;
    width: 80px;
    margin-top: 571px;
    margin-left:542px;
    
    position: absolute;
    letter-spacing: 0.1em;
    text-align: center;
    
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    color: #FFFFFF;
    }
       
.block3{

    position: absolute;
    width: 1200px;
    height: 666px;
    margin-left: 116px;
    margin-top: 1500px;
    background: url("../assets/back2.png");
}
.h2_2{
    position: absolute;
    width: 480px;
    height: 117px;
    padding-left: 360px;
    padding-top: 84px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    text-align: center;
    color: #FFFFFF;
    }

.h3_3{
position: absolute;
width: 390px;
height: 102px;
padding-left: 395px;
padding-top: 474px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;
color: #FFFFFF;
}

.videoButton{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 525px;
    top:254px;
    background: #39C2D7;
    border-radius:100px;
    border:none;

}

.videoButton .span{
    position: absolute;
    width: 55px;
    height: 70px;
    color: #FFFFFF;
    border-radius: 2px;
}

footer{
position: absolute;
width: 1200px;
height: 170px;
margin-left: 116px;
margin-top: 2166px;

background: #464547;
}

.logo2{
    width:20px;
    height:20px;
    margin-left: 145px;
    margin-top:19px;
}

.footerProject{
    
    position: absolute;
    display: inline-block;
    width: 92px;
    height: 16px;
    margin-top:21px;
    margin-left: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
/* identical to box height, or 89% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.fn1{
    margin-left: 140px;
    margin-top:14px;
    position: absolute;
    width: 174px;
    height: 33px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
color: rgba(255, 255, 255, 0.4);
}

.web{

position: absolute;
width: 142px;
height: 22px;
margin-top:3px;
display: block;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */


color: rgba(255, 255, 255, 0.4);

}

.fn2{
    
position: absolute;
width: 243px;
height: 20px;
margin-top:42px;
margin-left:140px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */


color: rgba(255, 255, 255, 0.4);

}   
